In [1]:
import numpy as np
import pandas as pd

In [2]:
nama_file = "data_kebun_binatang.xlsx"

In [6]:
path_dir = ".\\"
DataFrame = pd.read_excel( path_dir + nama_file, encoding = "cp1252", sep = ';' )
df = DataFrame.copy(deep=True)
df.head(5)

,nama binatang,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,aardvark,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,antelope,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,bass,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,bear,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,boar,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [7]:
column_yang_tidak_dipakai_pada_file = 'nama binatang'

if column_yang_tidak_dipakai_pada_file in df.columns:
    df = df.drop(column_yang_tidak_dipakai_pada_file,1)
df.head(5)

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1

In [8]:
from sklearn.cluster import KMeans

jumlah_clustering = 7
kmeans = KMeans(n_clusters=jumlah_clustering, random_state=1)
data_kmeans_baru =  df._get_numeric_data()
kmeans.fit(data_kmeans_baru)
prediksi = kmeans.predict(data_kmeans_baru)
df_kmeans = df.copy(deep=True)
df_kmeans['Clusters KMeans'] = pd.Series(prediksi, index = df_kmeans.index)
df_kmeans.head(20)

,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize,type,Clusters KMeans
0,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,1
1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1,1
2,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4,3
3,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1,1,1
4,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,1
5,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1,1
6,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1,1,1
7,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0,4,3
8,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4,3
9,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0,1,1
10,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1,1,1
11,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0,2,2
12,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0,4,3
13,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0,7,5
14,0,0,1,0,0,1,1,0,0,0,0,0,4,0,0,0,7,4
15,0,0,1,0,0,1,1,0,0,0,0,0,6,0,0,0,7,4
16,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0,2,2
17,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1,1,1
18,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1,4,3
19,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,1,1,6

In [9]:
#Kemudian kita simpan ke file data kebun binatang
df_kmeans_original = DataFrame.copy(deep=True)
df_kmeans_original['Clusters KMeans'] = pd.Series(prediksi,index = df_kmeans.index)

#Kita akan memindahkan columnt cluster ke depan 
colom = df_kmeans_original.columns.tolist()
colom = colom[0:1] + [colom[-1]] + colom[1:-2]
df_kmeans_original = df_kmeans_original[colom]

#tambahkan ke dataframe
df_kmeans_original = df_kmeans_original.fillna("")

file_kmeans = nama_file[0:4] + "_kmeans_" + str(jumlah_clustering) + ".csv"
path_kmeans = path_dir +file_kmeans
df_kmeans_original.to_csv(path_or_buf = path_kmeans, sep=";")
print("Data sudah tersimpan")

Data sudah tersimpan

In [10]:
df_kmeans_original.head(20)

,nama binatang,Clusters KMeans,hair,feathers,eggs,milk,airborne,aquatic,predator,toothed,backbone,breathes,venomous,fins,legs,tail,domestic,catsize
0,aardvark,1,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
1,antelope,1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
2,bass,3,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
3,bear,1,1,0,0,1,0,0,1,1,1,1,0,0,4,0,0,1
4,boar,1,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
5,buffalo,1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
6,calf,1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,1,1
7,carp,3,0,0,1,0,0,1,0,1,1,0,0,1,0,1,1,0
8,catfish,3,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
9,cavy,1,1,0,0,1,0,0,0,1,1,1,0,0,4,0,1,0
10,cheetah,1,1,0,0,1,0,0,1,1,1,1,0,0,4,1,0,1
11,chicken,2,0,1,1,0,1,0,0,0,1,1,0,0,2,1,1,0
12,chub,3,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,0
13,clam,5,0,0,1,0,0,0,1,0,0,0,0,0,0,0,0,0
14,crab,4,0,0,1,0,0,1,1,0,0,0,0,0,4,0,0,0
15,crayfish,4,0,0,1,0,0,1,1,0,0,0,0,0,6,0,0,0
16,crow,2,0,1,1,0,1,0,1,0,1,1,0,0,2,1,0,0
17,deer,1,1,0,0,1,0,0,0,1,1,1,0,0,4,1,0,1
18,dogfish,3,0,0,1,0,0,1,1,1,1,0,0,1,0,1,0,1
19,dolphin,6,0,0,0,1,0,1,1,1,1,1,0,1,0,1,0,1